body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0px;
    margin-top: 0px;
    
}

/* Below is the font.ttf insertion and header text */

@font-face {
    font-family: pokefont;
    src: url(font/Pokemon\ Hollow.ttf);
}
  
h2 {
    font-family: pokeFont;
    color: #ffcb05;
    font-size: 3vw;   
}

/* Header CSS */

#header {
    background-color: #003a70;
    color:  #ffcb05;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.headerUl {
    list-style: none;
    display: flex;
    border-color: #ffcb05;
    border-width: 10px;
    border-style: ridge;
    padding: 20px;
    margin: 0px;
    text-align: center;
    align-items: center;
    
}

img.ball\, {
    width: 20vw;
}

img.pokemon {
    width: 28vw;
}


.headerUl > * {
    /* flex: 1 1 auto; */
    padding: 0px;
    margin: 0px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
}

.liTitle {
    flex: 1 1 100%;
}

/* Game area and background CSS */

/* #mainArea { */
    
.mainUl {
    display: flex;
    padding: 0px;
    margin: 0px;
    
}

.gameArea {

    flex: 1 1 100%;
    border-color: #003a70;
    border-width: 10px;
    border-style: ridge;
    height: 50vw;

}

img.trainers\, {
    width: 20vw;
    height: 50vw;
    border-color: #ffcb05;
    border-width: 10px;
    border-style: ridge;
}
